.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #2298ff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .back-button i {
    margin-right: 5px; /* Espacio entre el ícono y el texto "Volver" */
  }
  
  /* Otras propiedades de estilo que desees aplicar */
  